@import "tailwindcss";

@layer base {
  :root {
    --color-blush-50: #fff2f2;
    --color-blush-100: #fbe2e2;
    --color-blush-200: #ffc6c6;
    --color-blush-300: #ff9999;
    --color-blush-400: #ff8080;
    --color-blush-500: #ff6666;
    --color-blush-600: #ff4d4d;
    --color-text-red: #cb3c3c;
    --color-grayish: #333333;
  }
}

/* optional global styles */
body {
  color: var(--color-grayish);
}
