spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update

app:
  cors:
    origins: "*"
    # in prod we allow all origins, but restrict in SecurityConfig based on env

gcs:
  bucket-name: "todo-app-profile-images"
